body{
    background-image: linear-gradient(to bottom right,aquamarine,blue);
}
 
   #container{
       font-family: 'Barlow', sans-serif;
       width: 100%;
       height: 100%;
       margin: auto;
       
   }

   #calc{
       width: 18%;
       height: 60%;
       background-color:#F0F8FF;
       margin:auto;
       position: relative;
       border-radius: 1em;
   }
   #resultado{
       height: 130px;
       color: black;
       border-top-right-radius: 1em;
       border-top-left-radius: 1em;
   }
   #saida{
       text-align: right;
       height: 100px;
       margin: 10px 20px;
       font-size: 30px;
       
   }

   .operadores,.numeros{
       font-size: 13px;
       background-color: aquamarine;
       color: black;
       margin: 10px;
       float: left;
       width: 55px;
       height: 55px;
       cursor: pointer;
       border-radius: 22px;
       box-shadow: 0;
       border: #E0FFFF solid;
       align-items: center;
       font-weight: bold;
       
   }
   button:nth-child(17){
       width: 130px;

   }
   button:nth-child(18){
       margin-left: 10px;
   }
  
  